.article .wrap {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(./IMG_2463.jpg);

  background-size: 20vw 20vw;
  background-color: aqua;
}

img {
  margin: 3vw;
  width: 20vw;
  height: 30vw;
  border-radius: 50%;
}

.item h3 {
  display: flex;
  text-align: left;
  color: rgb(228, 11, 69);
  padding: 1vw 6vw 1vw;
  letter-spacing: 3vw;
  overflow: auto;
  border-radius: 10%;
  line-height: 5vw;
  letter-spacing: 1vw;
  font-size: 3.5vw;

  z-index: -5;
}

.video {
  cursor: pointer;
  padding: 1%;
  border-radius: 10%;
  text-align: center;
  box-shadow: 0.2vw 1vw 1vw rgb(149, 224, 237);
  background-color: rgba(160, 206, 252, 0.2);

  margin: 1vw;
  width: 1vw;
  height: 1vw;
}
.logocase {
  margin: 1vw;
  letter-spacing: 1.5vw;
  text-align: center;
  color: rgba(9, 20, 37, 0.916);
  text-decoration: none;
  font-size: 3vw;
  border: 0.5vw solid rgb(24, 123, 236, 90);
  padding: 2vw;
  border-radius: 2vw;
  background: url("./IMG_2465.jpg") no-repeat;
  background-size: 10vw 8vw;
  background-color: rgb(42, 118, 239);
}
